@font-face {
    font-family: Amsterdam;
    src: url(../fonts/Amsterdam.ttf);
}

@font-face {
    font-family: HolidayFree;
    src: url(../fonts/HolidayFree.otf);
}

.letter_font_small {
    font-family: Amsterdam;
    font-size: 3rem;
}

.letter_font_big {
    font-family: Amsterdam;
    font-size: 5rem;
}

.numeric_font_normal {
    font-family: HolidayFree;
    font-size: 4rem;
}

.numeric_font_big {
    font-family: HolidayFree;
    font-size: 8rem;
    line-height: 10rem;
}
